---
import Layout from '../layouts/Layout.astro';
const allPosts = await Astro.glob('../pages/posts/*.mdx');
---

<Layout title="A Small Space">
	<main class="flex flex-col  items-center">
		<div class="flex content-start">
			<div class="font-roboto font-bold text-5xl py-8 animate-jello hover:animate-jello hover:animate-pulse ">a small space</div>
		</div>
		
	   <!-- {allPosts.map((post)=> <li><a href={post.url}><img src={post.frontmatter.image.url} loading="lazy"></a></li>)} -->
	   {allPosts
		.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date))
		.map((post) => (
		  <li class="list-none m-2"  key={post.url}>
			<a href={post.url}>
			  <img src={post.frontmatter.image.url} loading="lazy" />
			</a>
		  </li>
		))}
	  
	</main>
</Layout>

