---
import Layout from '../layouts/Layout.astro';
const allPosts = await Astro.glob('../pages/posts/*.mdx');
---

<Layout title="A Small Space">
	<main class="flex flex-col  items-center">
		<div class="flex content-start">
			<!-- <h1 class="text-4xl p-4 text-center font-bold from-purple-600 via-pink-600 to-blue-600 bg-gradient-to-r bg-clip-text text-transparent ">a small space</h1> -->
			<!-- <img src="./images/titlespace3.svg" class="object-contain w-96 p-8 " alt="a small space"> -->
			<div class="font-roboto font-bold text-5xl py-8 animate-jello hover:animate-jello hover:animate-pulse ">a small space</div>
		</div>
		
	   <!-- {allPosts.map((post)=> <li><a href={post.url}><img src={post.frontmatter.image.url} loading="lazy"></a></li>)} -->
	   {allPosts
		.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date))
		.map((post) => (
		  <li class="list-none m-2"  key={post.url}>
			<a href={post.url}>
			  <img src={post.frontmatter.image.url} loading="lazy" />
			</a>
		  </li>
		))}
	  
	
	</main>
</Layout>

